[2021-07-25 22:31] FiorelaCiroku opened #3 "SONAR: Evaluate state-of-the-art tools and framework"
## Task description

Evaluate current interface tools and frameworks that could support the development of the demo.

[2021-07-25 22:34] FiorelaCiroku opened #4 "SONAR: Dataset investigation"
## Task description

This task consists of Identifying candidate sources (audio, text, structures data) that can be combined to the sonar experiment. Validation of relevance and suitability of datasets must be done with an expert: Angelo Pompilo may be our reference expert, but others are more than welcome.

## Progress

[2021-07-25 22:38] FiorelaCiroku opened #5 "SONAR: Ontology (module) design"
## Task description
The task regards the design of the ontology model for representing the stories [Sonia#1_ExplorationMode](https://github.com/polifonia-project/stories/blob/main/Sonia:%20Playlist%20User/Sonia%231_ExplorationMode.md) and [Sonia#2_ShuffleMode](https://github.com/polifonia-project/stories/blob/main/Sonia:%20Playlist%20User/Sonia%232_ShuffleMode.md).

## Task progress

[2021-08-13 13:35] FiorelaCiroku opened #8 "SONAR: Sonar Data Story Creation"
## Task description

We are forming the “Sonar Data Story Creation” team. The team will work with the Datasets team, the Ontology Design team, and the Interface team to come up with a story told by the demo that is meaningful, relevant, and engaging. The story will convolve multiple musical pieces (max 12) of different genres (pop, classical, jazz) to tell a story about the kinds of connections th

[2021-09-02 13:21] FiorelaCiroku opened #2 "SONAR: Develop and refine end-to-end interface sketches for the playlist app"
## Task description

This task is related to the creation of mockups and visualisations of the features that the application will include. It is specifically important to [Sonia#1_ExplorationMode](https://github.com/polifonia-project/stories/blob/main/Sonia:%20Playlist%20User/Sonia%231_ExplorationMode.md) story considering that there are a lot of information that we would like to have displayed.

[2021-09-02 13:24] FiorelaCiroku opened #6 "SONAR: Ontology (module) testing"
## Task description

This task is dedicated to the ontology testing. We should keep in mind that for the XD methodology there are three types of tests that need to be executed:
+ Competency question verification
+ Inference verification
+ Error provocation.

## Task progress

[2021-09-02 13:25] FiorelaCiroku opened #7 "SONAR: Transformation rules definition"
## Task description

Define/Write the transformation rules for producing the knowledge graph.

## Task progress

[2021-09-02 13:42] enridaga commented on #4
Youtube link to be added to the Genius dataset

[2021-09-02 13:51] enridaga opened #9 "Add Youtube URI to the datasets"
Youtube links can be derived for genius and sogfacts.

[2021-09-02 13:52] enridaga opened #10 "Add Place information to datasets"
Place information can be derived from songfacts.

[2021-09-02 13:56] enridaga opened #11 "UI initial prototype with Youtube player"
UI embedding a youtube player, keeping only basic controls (play, stop, forward, backword, scroll)

[2021-09-02 13:56] enridaga commented on #11
This could be setup in a new UI branch or reuse any of the existing prototypes

[2021-09-02 14:00] jonnybluesman opened #12 "Retrieve links from music streaming services"
Genius and SongFacts can provide links to play some tracks on steaming platforms, such as Apple Music. Let's check this first, before going on with Youtube.

[2021-09-02 14:18] enridaga opened #13 "Lyrics similarity"
To document activity on generating links between songs analysing the lyrics.

[2021-09-02 14:42] ccolonna commented on #11
Hi @JaseMK , I was taught to have a ```develop``` and a ```master``` branch.  ```master``` collects production code. ```develop``` collects development code, to be examined by other people, for UAT (user acceptance test) and eventually delivered in production. Generally I create a new branch from ```develop``` when a new feature is to implemented (for example ```ui-youtube-player``` or ```angular-

[2021-09-02 15:47] jonnybluesman commented on #10
This is already there, although it is not available for all tracks! As you can see from [this example](https://github.com/polifonia-project/sonar2021_demo/blob/datasets/datasets/songfacts/iso-queen/Bohemian_Rhapsody.json), when information about places is available, you should find: (i) the name of the place; and (ii) a list of facts on that place. In addition, in SongFacts, **places** and **image

[2021-09-02 15:49] enridaga commented on #10
I see, I guess what is missing is coordinate information, to display the place in a map. Maybe something that can be derived from [Geonames](http://www.geonames.org/)?

[2021-09-02 15:54] enridaga commented on #10
Another way is using some NER and get the DBpedia/Wikidata entity to get the coordinates from. For example DBpedia Spotlight `https://www.dbpedia-spotlight.org/api` with your example "Aurora, Illinois":
[code]
which will allow to get the coords from DBpedia `http://dbpedia.org/resource/Aurora,_Illinois`

[2021-09-02 15:58] jonnybluesman commented on #10
Got it, then we will enrich all those annotations for which place information is available, ideally after a first step of aggregation to avoid spreading data all over. Thanks!

[2021-09-02 16:00] jonnybluesman commented on #10
Looks promising, thanks for the suggestion!

[2021-09-03 16:54] jonnybluesman opened #14 "Iteration 1 sprint: focusing on what is related to places"
As @enridaga suggested, at the current iteration we are focusing on basic concepts + those related to **places**. Together with @andreamust and @valecarriero, we have filtered the place-related "fields" (from our list [1]) and tried to contextualise them with the current (and the potential) design of the ontology modules.

In sum, these are the data types related to places, with the corresponding

[2021-09-07 10:14] enridaga commented on #14
I think they should.

An important question is which ones of these can be added to the datasets for the demo.

[2021-09-07 11:05] roccotrip commented on #13
Suggestions on the csv format
- add an ID for each lyrics
- add a language field for each lyrics

[2021-09-07 11:25] jonnybluesman commented on #9
Update: The links have been added for all the entries in SongFacts.

[2021-09-07 15:52] jonnybluesman commented on #14
The datasets where all these fields come from are already in the `datasets` branch, but we can re-organise the structure of the repository to make it more readable and easy to navigate. From an analysis of the current data, we can conclude that:
- Places 1 and 2 are only available for 5 tracks from The Beatles and just 1 from Queen.
- Places 3 and 4 are available for every single artist that contr

[2021-09-09 14:44] jonnybluesman commented on #12
A new Spotify dataset was added to complement the music streaming information, also including audio features and additional tags from the EchoNest (e.g. danceability, energy, valence, speechness, etc.). The dataset can be found at [this link](https://github.com/polifonia-project/sonar2021_demo/tree/datasets/datasets/spotify).

[2021-09-10 09:12] enridaga commented on #13
Added ID and Lang.

 - ID is a deterministic, numeric hash, not a sequential identifier. Cannot generate a serial ID with SPARQL Anything yet, see https://github.com/SPARQL-Anything/sparql.anything/issues/86

[2021-09-10 10:12] enridaga commented on #13
OK, CSVs includes now all the lyrics from `genius` and `songfacts`, with ID and language.

See queries/README.md for instructions on how to reproduce.

[2021-09-10 17:12] jonnybluesman commented on #14
Some modelling progress from the OD team curating the **musical performance** module (@valecarriero, @jonnybluesman, @andreamust). This partial model generalises some key parts of MusicBrainz (where we get most of the data), is still aligned with our competency questions, and addresses Places 5, and 6 (see list above).

![recording-v2](https://user-images.githubusercontent.com/13005049/132891815-f

[2021-09-10 18:48] valecarriero commented on #14
Draft addressing Place 4 (see list above)

![image](https://user-images.githubusercontent.com/36740200/132902602-29fcce2e-90d3-4f69-a3b7-ed622622ff8b.png)

[2021-09-10 18:51] valecarriero commented on #14
Draft addressing Place 3 (see list above)

![image](https://user-images.githubusercontent.com/36740200/132902990-da86226e-ca16-440a-90b5-bd54840251ff.png)

[2021-09-10 18:55] valecarriero commented on #14
Please note: all object properties in these diagrams will have their inverse.

[2021-09-14 14:10] delfimpandiani commented on #11
Hello, here are some updated sketches with the Youtube player incorporated into them:

<img width="1440" alt="Screen Shot 2021-09-14 at 12 13 32 PM" src="https://user-images.githubusercontent.com/44606644/133273041-465588aa-631c-4a50-9de0-c12c16450d8a.png">

Of course, even though in the sketches the youtube player shows the same image (as if it was always in the same second of the song) each of t

[2021-09-18 11:06] PaulMulholland commented on #2
Hi all

The enclosed document contains some thoughts on how to show the history of liked or shared notes. Basically, this could be done with a set of tabs within the filter page.

On the last page of the document are some thoughts on how we might rename some tabs and buttons if the player evolves to support humans in sending notes and having followers.

As discussed previously as well as on Friday

[2021-09-20 14:20] delfimpandiani commented on #2
<img width="467" alt="Updated-sketches" src="https://user-images.githubusercontent.com/44606644/134017933-d8dee8a1-c0a1-4f55-a3ca-40b1c8f72047.png">
Hello, here you can find some updated sketches from today's discussion. They are supposed to showcase two things:

1) The division line in between the notes of different songs. The division contains the name of the song that has started, and is potent

[2021-09-21 16:49] delfimpandiani commented on #2
Thank you for this @JaseMK.
I had a meeting with the data and OD team today in order to start the process for the interface team to get some sample data. I will be working with them on this for the rest of the week (to locate data related to places, put it together, semantically map it unto the ontological classes and properties, and based on this RDF getting the JSON for the interface).  I will u

[2021-09-23 09:28] valecarriero commented on #14
[update after 23/09/2021 WP2 meeting]
Considering that the field we are modelling (artist_start) is ambiguous and not very specific (e.g. London for Queen as the place where the band was formed, Pinner for Elton John as the place where he was born and started to play/its musical activity), we will model this as a binary relation, and then we will have a more complex model if we will have more data

[2021-09-23 09:47] andreamust opened #21 "OntologyDesign sprint: iteration 2 (similarities)"
As a second iteration in modelling the ontologies for the Sonar demo we are focusing on similarity. In particular, starting from the requirements of the demo it became necessary to model two different types of similarity:

- _Harmonic Similarity_ [computed by @jonnybluesman and @andreamust, and available [here](https://github.com/polifonia-project/sonar2021_demo/tree/datasets/harmonic-sim) - in pr

[2021-09-23 14:09] valecarriero commented on #21
I think that LyricsSimilarity can be in the musical composition module. Don't know about the general concept of Similarity.

[2021-09-23 14:17] andreamust commented on #21
I agree, I have changed the prefix of LyricSimilarity in the diagram. As for the concept of similarity, it remains an open point.

[2021-09-23 17:22] delfimpandiani commented on #2
Following Jason's sample JSON file, I transformed the data provided by the dataset team into an RDF (Turtle) file, aiming 1. to start echoing the ontological model created for "Places", and, more importantly, to 2. save it as a JSON-LD to be fed to the demo under development.

There are two data files available [here](https://github.com/polifonia-project/sonar2021_demo/tree/develop/src/assets/data

[2021-09-24 14:08] JaseMK commented on #2
Thanks @delfimpandiani that's really helpful. I haven't tried importing this JSON-LD data format yet. I think we have a catch-up with the wider SONAR team on Tuesday morning, so I shall work on this on Monday to get the data imported in this format. From looking at it now, it looks like it shouldn't prove too much of a problem.

[2021-09-24 14:14] andreamust commented on #21
![harmonicSimilarity_data](https://user-images.githubusercontent.com/44606182/134688933-8386dc8d-1168-42d6-84e6-9f4ab78c78b4.png)

I add a few examples of data related to Harmonic Similarity, to help understand what types of data we will be dealing with.

[2021-09-24 14:33] valecarriero commented on #14
[update]
![image](https://user-images.githubusercontent.com/36740200/134692101-564630d0-617f-451f-8007-0e08a0789b8b.png)

[2021-09-24 14:34] ccolonna commented on #2
Thanks @delfimpandiani and @JaseMK . I worked a bit on this issue.

There's an interesting ecosystem I used in another project for client side querying over distributed RDF sources. Maybe you know that @JaseMK, Here's the link [comunica](https://comunica.dev/).

I did some experiment using [LDflex](https://github.com/LDflex/LDflex) library and I managed to query directly the raw source you provide

[2021-09-24 16:13] vpresutti commented on #21
The concept of two compositions/tracks being similar based on some criteria is a key one to Polifonia. In my opinion the general Similarity pattern and its specialisations should go into a Core module. Wdyt? Another option is to have a general concept of Similarity between two cultural entities (which can be compositions but also of different types) in the Core module and then have specialisations

[2021-09-24 16:19] JaseMK commented on #2
Thanks @ccolonna. I don't have any experience of _comunica_ or _LDFlex_. Do you think this is something we'd be able to implement, feasibly? I'm slightly concerned about the size of the data file and processing this all on client side for a demo. I guess ultimately we'd query a SPARQL endpoint or web API, but probably not in the short-term.

As long as we can provide reasonable implementations for

[2021-09-24 18:01] ccolonna commented on #2
Hi @JaseMK , sorry you're right I explain myself badly.
I meant that _comunica_ and _ldflex_ let's you query the remote RDF source directly from the client. So we would have an interface from frontend directly with RDF published documents, or a SPARQL endpoint, bypassing REST API.
It won't took me too much to implement a simple example and let you have a look by yourself. They are easy but powerfu

[2021-09-28 09:09] delfimpandiani commented on #2
@JaseMK I think we need an updated version of Places example of the ideal input data for the interface (with examples of these descriptions, types of relations, similarity values, etc.) with the updates discussed today in the meeting. It would be good if you and @ccolonna can do it together (in JSON-LD) so that I have the output we are trying to copy when we query from the (upcoming) KG. Do you th

[2021-09-28 09:44] ccolonna opened #25 "UI: design mockup for annotation related songs similarity"
We need to show why towo songs are related by means of an annotation. Mockup for this is maybe needed expanding the annotation stream item section

[2021-09-28 09:46] ccolonna opened #26 "UI: create html template for annotations related songs motivation"
HTML template, css style, interface extensions for https://github.com/polifonia-project/sonar2021_demo/issues/25

[2021-09-28 10:00] ccolonna opened #27 "UI: query RDF remote source to get data"
Async call return data.
But we need to find current way to propagate them to component.

In `SongService` `SparqlClient` returns a `Promise<Song[]>` running SPARQL queries, we need to expose this data to components as `BehaviorSubject<Song[]>` and this components subscribe to them. The call to API should be ideally run once.

As this is not a simple task and we haven't live SPARQL endpoint to quer

[2021-09-28 10:03] ccolonna opened #28 "UI: import app data from toy json file to real jsonld file."
Waiting for https://github.com/polifonia-project/sonar2021_demo/issues/27 to be completed. Temporary fastest solution.

[2021-09-28 10:11] ccolonna opened #29 "UI: HTML template for playlist page with style"
Mockup is already available for this one, Here: https://github.com/polifonia-project/sonar2021_demo/issues/2#issuecomment-922973505

[2021-09-28 12:47] ccolonna opened #30 "UI: mockup for filter page"
We have a wireframe by @PaulMulholland here: https://github.com/polifonia-project/sonar2021_demo/issues/2#issuecomment-922260166

[2021-09-28 12:49] ccolonna opened #31 "UI: template for filter page"
This depends on https://github.com/polifonia-project/sonar2021_demo/issues/30

We need template for history etc.
To be exploded in more task!

[2021-09-28 12:53] ccolonna opened #32 "UI: new annotation should shine while appears in the app stream"
When a new annotation appears in the app stream. It should shine with a css transformation to notify the user about its standing out.
Someone proposed:
- move from opacity 90% to 100%
- make border from 0 to 1px colored and go back to 0.
- see other example

[2021-09-28 12:56] ccolonna opened #33 "UI: toast stands out when new song is added to playlist"
A toast (Android style), message, should appear in the screen to givce feedback to the user that a new song was added to playlist while he touch button add to playlist from related songs in the annotation stream.
A message: "The song was added to playlist"

This is shown in the mockup here: https://github.com/polifonia-project/sonar2021_demo/issues/2#issuecomment-903930147

[2021-09-28 13:59] FiorelaCiroku opened #34 "Data transformation: Raw JSON data —> Polifonia KG Manual Example"
Create ideal Places KG example manually. Examine the raw JSON data, and its fields, manually map the fields to both classes and properties of the Places (and Musical Performance + and Core) Ontology Module(s).

INPUT: https://github.com/polifonia-project/sonar2021_demo/blob/datasets/places/places.json

OUTPUT1a (RDF): manually created example RDF (can be Turtle or JSON-LD) with one/a few of the ex

[2021-09-28 14:41] delfimpandiani opened #35 "Data transformation: Raw JSON data —> Polifonia KG Mapping Rules"
Use [OUTPUT1] (Example Places KG) to automatically create Places KG.

Definition of the RML mapping rules. Use the Example to define and test mapping rules for all classes and properties (check whether the mapping rules are producing the correct output.) Needs to include labels for all the classes and properties. Output of this step [OUTPUT2] should an automatically created KG that includes all th

[2021-09-28 14:47] JaseMK commented on #2
Sure. This is what we have currently for a single annotation:

[code]

I think, in order to describe why the relationship exists in more detail, as discussed in the meeting, we just need to add in some more of the data from the related song into the relationship item, so something like this:

[code]

Hopefully, this data shouldn’t be too hard to add in as it’s simply taken from the relevant annota

[2021-09-28 14:53] JaseMK commented on #11
YouTube interface prototype complete

[2021-09-28 14:53] #11 closed

[2021-09-28 15:02] ccolonna commented on #27
As discussed with @JaseMK and @phivk we won't get data dynamically from remote source.

[2021-09-28 15:02] #27 closed

[2021-09-28 15:17] ccolonna opened #36 "ETL: data from Polifonia KG to Sonar APP - Songs"
We need an ETL process to transform data from the Polifonia KG into what is needed by SONAR application.

Specifically we need to extract song and related song attributs like artist and youtubeID.

This is current `Song` interface consumed by the application:

[code]

Here an example [file](https://github.com/polifonia-project/sonar2021_demo/blob/develop/src/assets/data/data_v1.json) with static d

[2021-09-28 15:21] valecarriero commented on #14
model for the coordinates (basically, based on https://w3id.org/italia/onto/CLV/

![image](https://user-images.githubusercontent.com/36740200/135116674-03947fb2-54a2-49bf-b57c-ac2d1be86df3.png)

[2021-09-28 15:30] ccolonna opened #37 "ETL: data from Polifonia KG to Sonar App - Spatial Annotation"
This entities won't probably be explicitly reified in the Knowledge Graph but should be extract by means of some script or procedure.
This script will impersonate the role of the spatial bot analyzing the graph and producing Annotations about song people can subscribe to, see and like in the app.

This is current `Annotation` interface consumed by the application:

[code]

[code]

[code]

An examp

[2021-09-28 15:35] ccolonna commented on #37
A procedure suggested by @vpresutti and discussed with @delfimpandiani to extract spatial annotation from Polifonia KG data:

Delfina:

So far we have identified and defined only one criteria for the Spatial Bot to create notes from the Polifonia KG.
The spatial bot should create annotations that involve spatial information (a Place which has Latitude and Longitude).
Then we have questions that ne

[2021-09-28 15:39] ccolonna opened #38 "ETL: data from jsonld to Sonar App"
Meanwhile we are waiting for Polifonia KG we have some real data extracted by datasets, with handcrafted annotations for the application. We can use this for more real testing.

The file is [here](https://github.com/polifonia-project/sonar2021_demo/blob/develop/src/assets/data/data_v2.jsonld)
Some basic transformation can be done to make it adhere to app domain.

This is related and will solve: ht

[2021-09-29 09:47] JaseMK opened #39 "Add messaging/aert service"
Create a messaging/alert service to give users feedback on actions they've taken, such as adding or deleting an item from the queue.

[2021-09-29 11:43] FiorelaCiroku commented on #34
OUTPUT 1a:

![Example KG mapping output](https://user-images.githubusercontent.com/12375920/135261604-8e8dc0c6-42fc-42d5-b249-237e574eb11d.png)

Comment: The property *coordinates* from the JSON file has not been mapped yet.

OUTPUT 1b: In the Excel file you can find the corresponding properties of the module to the properties from the JSON file. There are properties like IDs (5 in total) that are

[2021-09-29 15:05] JaseMK commented on #39
Done in 746e3f256189fc22e5f327a7562c0e89798ffdbf
Use MessageService::showMessage() to display a message or alert at the top of the application

[2021-09-29 15:32] phivk commented on #38
Hi @JaseMK @ccolonna, quick update from my side...

## Querying serialised KG files

I had a look at the [serialised data files](https://github.com/polifonia-project/sonar2021_demo/tree/develop/src/assets/data) and tried to figure out a straightforward way to query them.

Based on @ccolonna's tips I had a look at Comunica and the [query_cli_file interface](https://comunica.dev/docs/query/getting_s

[2021-09-29 16:11] JaseMK commented on #38
My thoughts are that the current model of relationships within annotations pointing to other songs is not correct and actually a relationship should link two annotations, not an annotation and another song, since it is the two annotations that are similar (potentially), not an annotation and a song. For example if AnnotaionA is place:Liverpool and Annotation:B is place:Manchester then they are sim

[2021-09-29 17:35] ccolonna commented on #38
Hi  ,

@phivk  About querying data I created a little but flexible framework to extract and transform data from RDF sources being them, remote local, file, sparql endpoint etc... It runs comunica under the hood.
It will be useful when we will receive Polifonia KG by Fiorela and Delfina.

[Here](https://github.com/polifonia-project/sonar2021_demo/tree/develop/etl) you can see an example of a potent

[2021-09-29 17:38] ccolonna commented on #38
This [pr](https://github.com/polifonia-project/sonar2021_demo/pull/41) should close this issue. Surely we can continue to discuss here :)

[2021-09-29 17:38] #38 closed

[2021-09-29 19:35] FiorelaCiroku commented on #34
[code]

[2021-09-29 19:48] FiorelaCiroku commented on #34
Open issues:
1. The mapping of the coordinate property. Should we create a new class in the module or create a property to connect it to GeographicalFeature or Geometry?
2. The modelling of the property mp:hasRecordingPerformer should be completed.
3. For the sake of the demo, can the range of mp:hasSessionType property be a literal?
4. Can we create a binary relation e.g. mp:hasSession between mp

[2021-09-29 22:56] delfimpandiani commented on #35
example_to_match.ttl

[code]

[2021-09-29 22:57] delfimpandiani commented on #35
polifonia_kg_mapping_rules.ttl

[code]

[2021-09-29 23:03] delfimpandiani commented on #35
All data related to this issue is available in[ this folder.](https://github.com/polifonia-project/sonar2021_demo/tree/datasets/sonar_mapping_delfina)

[2021-09-30 07:14] delfimpandiani commented on #35
# Sonar Data Mapping
Data Transformation Raw JSON -> Polifonia RDF

There is a [related Github repo](https://github.com/polifonia-project/sonar2021_demo/tree/datasets/sonar_mapping_delfina) containing the files for this task. In that repository, there is PyRML (Python based engine for processing RML files developed by A. Nuzzolese) and all my progress so far. It includes:

- **example_to_match_to.

[2021-09-30 07:50] ccolonna commented on #28
Changing in `song.service.ts`:
[code]
Changing in `video.component.ts`:
[code]

The video player correctly show new songs.
In [data_v3](https://github.com/polifonia-project/sonar2021_demo/blob/develop/src/assets/data/data_v3.json) all items have the same youtubeID. So it resolve always playing penny lane.

There is a problem yet, annotations are not shown.

This is an example annotation in the fil

[2021-09-30 08:00] ccolonna commented on #33
This is closed by https://github.com/polifonia-project/sonar2021_demo/issues/39

[2021-09-30 08:00] #33 closed

[2021-09-30 08:22] roccotrip commented on #13
Probably we will have to remove duplicates, i.e., two versions of the same song. At the moment, I am removing them post hoc when I compute lyrics similarity but I think it would be better to decide how to handle these cases.

[2021-09-30 08:49] ccolonna commented on #32
Closed by https://github.com/polifonia-project/sonar2021_demo/pull/43

[2021-09-30 08:49] #32 closed

[2021-09-30 09:31] JaseMK commented on #28
The annotation service was still importing its application data from the v1 file. I have just pushed an update to this branch to fix that. Some annotations appear now, although there are some other bugs related to how and when they appear. I'm happy to investigate these issues this afternoon.

We should probably have a single config file that references the application data location and all other

[2021-09-30 09:55] valecarriero commented on #35
<https://w3id.org/polifonia/resource/SessionType/069c1cf0_a9b2_448e_8486_1eced48b48f9> a mp:SessionType ;
    rdfs:label "edited at"^^xsd:string .

<https://w3id.org/polifonia/resource/SessionType/11d74801_1493_4a5d_bc0f_4ddc537acddb> a mp:SessionType ;
    rdfs:label "mixed at"^^xsd:string .

<https://w3id.org/polifonia/resource/SessionType/6bc3827d_bc20_4621_ae14_9c3707ad140a> a mp:SessionType ;

[2021-09-30 10:24] delfimpandiani commented on #35
That sounds like a good idea, would it then be something like this?:

[code]

[2021-09-30 11:03] valecarriero commented on #35
yes, but you don't need the last two triples, because they will be already in the ontology!

[2021-09-30 11:04] valecarriero commented on #35
<https://w3id.org/polifonia/resource/Session/00718_recorded_at> a mp:Session ;
    core:endTime "1958-10-30" ;
    core:hasPlace "https://w3id.org/polifonia/resource/PhysicalPlace/physical_place_c7227463-931e-406a-8138-fa7e90fdbab8" ;
    core:hasType "https://w3id.org/polifonia/resource/SessionType/ad462279-14b0-4180-9b58-571d0eef7c51" ;
    core:startTime "1958-10-30" .

The mapping of the start

[2021-09-30 11:05] delfimpandiani commented on #35
A part of the data has been converted from the raw JSON into RDF (.ttl) [https://github.com/polifonia-project/sonar2021_demo/blob/datasets/sonar_mapping_delfina/polifonia_KG.ttl] using PyRML.
There are still some issues with some of the IRIs, some of the properties, etc. After the WP2 meeting, we, the OD Task Force, had another meeting to discuss this specific issue and how to make it work.

We de

[2021-09-30 11:15] valecarriero commented on #35
[code]

should become
[code]
In the future, we will need to split the address into its components, but for now I think it's okay.

[2021-09-30 11:18] valecarriero commented on #35
I think there is something wrong with the generation of the URIs of the coordinates, because I can't find e.g.<https://w3id.org/polifonia/resource/Coordinate/coordinate_044df534-4170-45eb-8b42-805102bb2939> related to its long and lat
[code]

[2021-09-30 12:16] jonnybluesman commented on #35
Not sure if it would be okay for now, because if we want to find connections based on the place, then "118 Church Rd, London, ..." would be different from "117 Church Rd, London, ...", and even the same for 2 addresses in the same city. Does it make sense?

[2021-09-30 12:17] valecarriero commented on #35
It totally makes sense, but we need to find a way to split the address string

[2021-09-30 12:21] jonnybluesman commented on #35
Okay then we can post-process the JSONs and split the full address based on the commas. The order of the components should be the same -- at least for data from MB (which is our focus now, as far as I understood).

[2021-09-30 12:43] delfimpandiani commented on #35
got it, I fixed it.

[2021-09-30 13:07] delfimpandiani commented on #35
Ok, some updates relevant for @jonnybluesman, @andreamust and @valecarriero.

I edited the mapping rules and tested them against an example to make sure everything works well. It does. For it, a couple more things need to be preprocessed in the original JSON. Basically, the original JSON needs to look exactly like this:

[code]

Note that, apart from the edits we discussed today, two major changes

[2021-09-30 13:13] delfimpandiani commented on #35
The relevant data ([sonar_mapping_rules](https://github.com/polifonia-project/sonar2021_demo/tree/datasets/sonar_mapping_delfina)) has been updated.

[2021-09-30 13:41] JaseMK opened #44 "UI: Song does not start from the beginning when moving to next song in the queue which is the same as current song."
If the same song is in the playlist/queue twice in succession, moving forwards in the queue does not cause the song to start again because the YouTube ID does not change and so it doesn't trigger a YouTubePlayer state change.

[2021-09-30 16:11] ccolonna commented on #28
Another problem:
[code]

We will take care of this when working on
- https://github.com/polifonia-project/sonar2021_demo/issues/37
- https://github.com/polifonia-project/sonar2021_demo/issues/36

[2021-09-30 16:11] #28 closed

[2021-09-30 16:35] delfimpandiani commented on #35
Good news for @ccolonna @JaseMK and @phivk!

We have a first correct (albeit very small) Polifonia KG (in [Turtle format](https://github.com/polifonia-project/sonar2021_demo/blob/datasets/sonar_mapping_delfina/polifonia_KG.ttl), and in [JSON-LD format](https://github.com/polifonia-project/sonar2021_demo/blob/datasets/sonar_mapping_delfina/polifonia_KG.json)): it contains 3 tracks with sessions in

[2021-10-01 06:56] JaseMK commented on #44
Fixed in feature/import-real-data branch, will move to live site once this branch is merged back onto 'develop'.

[2021-10-01 06:56] #44 closed

[2021-10-01 07:11] ccolonna commented on #35
Many thanks @delfimpandiani , is there an ontology diagram somewhere?

[2021-10-01 12:30] delfimpandiani commented on #35
Hi @ccolonna, you can find the Places ontology module [here](https://github.com/polifonia-project/sonar2021_demo/issues/14)!

[2021-10-01 12:41] jonnybluesman commented on #35
However, @ccolonna bear in mind that for this Turtle example we are using the full address as a single string (a simplification for time being), whereas our ontology makes distinction among all the different components of the address.

[2021-10-01 13:31] JaseMK opened #46 "Apply annotation type styles to filters page"
@ccolonna , are you able to apply your coloured annotation styles and icons to the filter toggles on the filters page? I'm not sure exactly how you've implemented these elsewhere so it might be easier for you. Once this is done, the 'feature/filter-page' branch can be merged back onto 'develop'

[2021-10-01 14:10] ccolonna commented on #35
Thanks @delfimpandiani and @jonnybluesman .

Is this ok ?

[code]
Shouldn't it be:
[code]

I try with this query and it returns `[]` :
[code]

while this returns correct results:
[code]

[2021-10-01 14:12] ccolonna commented on #46
Yes @JaseMK . I will fix it as soon as I can.

[2021-10-01 14:48] ccolonna commented on #37
@phivk @JaseMK ,

for spatial annotation I don't think we will have a timestamp. In data we have information like, this song was recorded at, was played at, author birthplace is. Etc. Nothing like, at minute 1.37 of this song author talks about  this place.
At least for what I see until now.

What do you think we can do?

- set timestamp to 0 and put it at the beginning of the song
- Do we have so

[2021-10-01 15:20] andreamust commented on #35
@delfimpandiani I updated the original JSON file with the changes that you requested. You can find the file in the [places folder](https://github.com/polifonia-project/sonar2021_demo/tree/datasets/places) Could you please check if everything's ok?

[2021-10-01 15:23] ccolonna commented on #46
Done in https://github.com/polifonia-project/sonar2021_demo/commit/cc7695d378b14842a8059f5cb738515bc1287fe4 .

[2021-10-01 15:23] #46 closed

[2021-10-01 15:29] JaseMK commented on #37
Thanks @ccolonna

I think we set the timestamp to 0. There will be several annotations, not just spatial ones, that have no time component. Then we can decide on functionality in the app for when it imports an annotation with a timestamp of 0. I like the idea of setting a random time, but perhaps some time between [songStart,30], for example. We do have song duration from the YouTube API, yes, but

[2021-10-01 15:34] ccolonna commented on #37
Ok thanks ,

I like the idea your idea!

[2021-10-03 09:00] delfimpandiani commented on #35
Looks great except for the place id, I need it to have underscores instead of dashes
so, for example, instead of c56fdea4-e81e-439a-a183-a52eb1141409 it should be c56fdea4_e81e_439a_a183_a52eb114140

[2021-10-03 09:02] delfimpandiani commented on #35
Hi @ccolonna, I am not sure, but given the time constraint and the fact that I can't work on this until Tuesday, please change the file as you see fit!
Then later this week we can check in to see how to integrate the changes.

[2021-10-03 13:38] andreamust commented on #35
Just updated, now it should be ok!

[2021-10-03 14:06] valecarriero commented on #35
## to be removed
[code]

## rule for the address generation
To generate the code used in the URI of the address, use only what goes in core:fullAddress, instead of using also the Physical Site label (a physical site is linked to an address, so its label is not to be used for the address).
The geometries have the same problem: I would use only what is in core:lat and core:long to generate the URIs.

[2021-10-03 14:53] delfimpandiani commented on #35
Thank you @andreamust

[2021-10-03 14:58] delfimpandiani commented on #35
Hi @valecarriero, thank you for the notes!

So far, I have dealt with this:

The other points not yet.  I have not done it because I do not have enough time at least until Tuesday, as it is not easy to deal with these issues in RML.

Anyways, as we agreed that the OD Task Force would get trained on and switch the data transformation pipeline from RML mapping to SPARQL Anything, we should be able t

[2021-10-03 15:00] delfimpandiani commented on #35
@ccolonna the[ Polifonia KG](https://github.com/polifonia-project/sonar2021_demo/blob/datasets/sonar_mapping_delfina/polifonia_KG.ttl) (in Turtle) has now been updated to include hundreds of examples (instead of just the three it had before). There are still issues, as you mentioned and as commented by Vale C. in a previous comment. Feel free to deal with any of them directly (using any method you

[2021-10-04 07:55] ccolonna opened #48 "Data transformation: object uri as string instead of resource"
### Task:
#### [Data transformation: Raw JSON data —> Polifonia KG Mapping Rules](https://github.com/polifonia-project/sonar2021_demo/issues/35)

In the polifonia KG `.ttl` file (see: [file](https://github.com/polifonia-project/sonar2021_demo/blob/datasets/sonar_mapping_delfina/polifonia_KG.ttl) ), linked object are represented as string instead of resources.

E.g.

[code]

Should be:

[code]

.

[2021-10-04 08:02] ccolonna commented on #35
Thanks @delfimpandiani. I'm not sure I can modify the file automatically. In any case I can change a single resource and test transformation procedure. Then they will work the same when the error will be fixed. It's not urgent by now :)

I saw there are no more artists but I imagine there's a reason as well.

[2021-10-04 12:43] phivk opened #49 "Deploy web app to github pages"
During last call (04-10-2021) we discussed GitHub pages as an option for deployment directly from this repository.

@JaseMK indicated that using Angluar routes might not be possible with GH pages, but for now we aren't using this feature.

The official Angular documentation includes instructions:
https://angular.io/guide/deployment#deploy-to-github-pages

Let's look if deployment to GitHub pages c

[2021-10-04 14:57] ccolonna commented on #49
Thanks @phivk , nice to know!
If this work we can maybe use github actions features to automate build and deployment (I already set [CI](https://github.com/polifonia-project/sonar2021_demo/tree/main/.github/workflows)).

An option for CD could be: every time we push on develop github pages updates, having staging code always live?

[2021-10-04 15:14] ccolonna commented on #36
This is solved by this: https://github.com/polifonia-project/sonar2021_data_transformation/commit/d5a7d896522088554217abd7458808e6614ab133

[2021-10-04 15:14] #36 closed

[2021-10-05 12:41] ccolonna commented on #35
Hi everybody,

looking at this example and similar ones where there's more than an artist (`artist_1`, `artist_2`, ...):

Looking at the great [ontology](https://github.com/polifonia-project/sonar2021_demo/issues/14) and @delfimpandiani really helpful mapping rules I understand that we should land to data somewhat shaped like this:

[code]

assuming `artist_1`, `artist_2`, `artist_start`, `artist_

[2021-10-05 13:44] JaseMK opened #50 "Amend app to use annotation-annotation relationships"
Annotations currently relate to other songs. They should instead relate to other annotations (from other songs). The dataset will be updated to reflect this, app needs also updated logic to account for this change.

[2021-10-05 13:48] JaseMK opened #51 "Deal with annotation timestamp of zero"
Where annotation timestamp is zero, this refers to an annotation that is applicable to the entire song (eg a spatial annotation). In these cases, to avoid lots of annotations appearing at once at the beginning of the song, they should be assigned a random time to appear, sometime in the first x (say, 20, to start with. This can be configurable) seconds.

[2021-10-05 14:41] JaseMK commented on #2
@ccolonna @phivk
Further to my earlier message, I have hand-crafted a small data file to test with that has the updated concept of annotations relating to other annotations, rather than to other songs. For now, to keep things simple, I've just used two songs and 4 annotations (two per song, one spatial and one lyrics). You can see it here:
https://github.com/polifonia-project/sonar2021_demo/blob/f

[2021-10-05 15:59] ccolonna commented on #2
Hi @JaseMK,

@phivk and I just had a meeting to discuss data transformation process.

Philo will take care of the PolifoniaKG => SonarApp hop, and specifically address the problem of [spatial annotation production](https://github.com/polifonia-project/sonar2021_demo/issues/37).
Thanks for this file I think this would be super helpful for knowing the shape of the spatial annotation item `.json` .

[2021-10-05 16:06] ccolonna commented on #35
Ok,

many thanks @delfimpandiani !

[2021-10-06 07:28] ccolonna commented on #37
Hi @phivk, at this [url](https://raw.githubusercontent.com/polifonia-project/sonar2021_demo/datasets/polifonia_places_etl/kg/polifonia-kg-places-latest.ttl) you can find the latest versione of the polifonia places KG. The URL shouldn't change until the repository is reorganized. When we push update we will just overwrite that file such that you can make the transformation pipeline build always to

[2021-10-06 07:32] ccolonna commented on #48
This is solved here https://github.com/polifonia-project/sonar2021_demo/commit/840423b67b852560e5d0c9a9abe9d34dad647597

[2021-10-06 07:32] #48 closed

[2021-10-06 13:36] #50 closed

[2021-10-08 09:50] #34 closed

[2021-10-08 16:04] #3 closed, assigned to ccolonna

[2021-10-08 16:05] #5 closed

[2021-10-08 16:05] #8 closed, assigned to enridaga, FiorelaCiroku, vpresutti, delfimpandiani

[2021-10-09 14:08] ccolonna commented on #37
Close [here](https://github.com/polifonia-project/sonar2021_data_transformation/pull/5)

[2021-10-09 14:08] #37 closed

[2021-10-12 07:05] #9 closed

[2021-10-12 07:06] #10 closed

[2021-10-12 07:09] JaseMK opened #55 "Add random songs when playlist reaches the end"
If we reach the end of our selected playlist and a song finishes, move on randomly to any of the songs related to the current song by annotation relationship.

[2021-10-12 07:11] JaseMK opened #56 "Ocassionaly, play stops when forwarding to the next track."
If a song is currently playing, play should continue when forwarding to the next track. Sometimes this happens, sometimes it doesn't

[2021-10-12 07:14] JaseMK opened #57 "Change annotation headings to include a brief description"
Rather than label all annotation headings the same (Location, Lyrics, etc), they should include a brief description of the annotation so we don't have a situation with lots of un-expanded annotations all with the same heading.

For example... "Recording location: MIlan" would be better than simply "Location"

Requires the relevant data/label to be pulled through from the KG in  the transformation

[2021-10-12 07:17] JaseMK opened #58 "Strategy for limiting the number of related songs listed"
We shouldn't allow the system to display very long lists of related songs.  This should be limited to a configurable number (10? Perhaps 5 for the purposes of the demo?). An extension to this would be to let the user configure their own limit on their filters/settings page.

[2021-10-12 07:20] JaseMK opened #59 "The icon for adding a related song to playlist is not obvious"
The plus icon could be improved upon, at first glance it appears that this icon should expand some content.

Suggestions for a better icon include
https://thenounproject.com/term/add-playlist/1515776/
https://thenounproject.com/term/add-playlist/3627415/

Also consider adding a tooltip message to make this more obvious

[2021-10-12 07:23] JaseMK opened #60 "Search facility - mockup"
Add a mockup of a search page to be shown in the demo.

This doesn't need to be fully functional to start with but should demonstrate how a user might use a search facility to search for songs based on annotation details or similarity to particular search terms. For example:

- Search by place
- Search by lyrical similarity to a given sentence
- Search by some harmonic definition

[2021-10-13 19:42] JaseMK opened #61 "Templates and component for harmonic annotations"
Build the relevant Angular component and HTML template to display harmopnic annotations.

Inside annotation-type-specific-info

[2021-10-14 04:59] #61 closed

[2021-10-14 14:06] #55 closed, assigned to JaseMK

[2021-10-14 15:00] JaseMK opened #64 "Generate generic annotation descriptions at the time of import"
The new data structure doesn't have a generic annotation description attribute. Instead, we must delve into the annotation type-specific metadata and build a description field according to type-specific logic.

[2021-10-14 16:05] #64 closed, assigned to JaseMK

[2021-10-14 21:41] #59 closed, assigned to nobody

[2021-10-14 21:43] JaseMK commented on #56
Fixed YouTube onStateChange logic.

[2021-10-14 21:43] #56 closed, assigned to nobody

[2021-10-18 10:41] phivk opened #66 "display app as mobile form factor during presentation"
following on from an email thread initiated by @PaulMulholland:

[2021-10-18 11:45] phivk commented on #66
An alternative would be to present the app in a mobile phone viewport via dev tools

<img width="1680" alt="597BB005-F8AD-4B56-B1EC-4AC80AB5CB11-902-000163D3E7CA723A" src="https://user-images.githubusercontent.com/902958/137716147-bc1fd5e1-79df-4c78-8ac5-26b32a1fb2b1.png">

[2021-10-18 11:46] #66 closed, assigned to nobody

[2021-10-18 14:33] phivk opened #67 "display video progress"
@JaseMK via email:

[2021-10-19 13:10] phivk opened #69 "ng build throws many "... is not a known element" errors"
On the latest `develop`, when I run
[code]
it throws many errors like the one below:

[code]

On that latest commit, the CI build test also failed:
https://github.com/polifonia-project/sonar2021_demo/runs/3937737344

@JaseMK this seems to have something to do with the way components are (not) registered or imported?
Am I perhaps missing a config locally?

[2021-10-19 13:15] phivk commented on #69
same behaviour for
[code]

[2021-10-19 15:03] ccolonna opened #72 "Songs with same `track_id` in `places.json`"
Hi @andreamust
I'm transforming the file in this commit https://github.com/polifonia-project/sonar2021_demo/commit/187f547c711539755fe8b55312fd5726aa8840e3

See for example ```track_id```: ```isophonics_160```

You have two recordings with the same Id:
[code]

And:

[code]

Another example is  ```track_id```: ```jaah_8```

Is this a bug ?

[2021-10-20 07:01] #72 closed

[2021-10-20 16:20] phivk commented on #69
@JaseMK I removed my node_modules dir and did a fresh `npm install` and the errors are gone!
really sorry to cause confusion!

[2021-10-20 16:20] #69 closed, assigned to JaseMK

[2021-10-20 16:22] #67 closed

[2021-10-21 12:51] #13 closed

[2021-10-21 12:52] #4 closed